<div class="stats">
  <div id="running_daily_avg">
    <div class="avg-container">
      <div class="avg">{{displayAvg}}</div>
      <div class="avg-bar" {{bind-attr style=avgStyle}}></div>
      {{#if hasPastData}}
        <div {{bind-attr class=":avg-change changeIsNegative:negative changeIsZero:zero"}}><i class="fa-arrow-up fa"></i> {{displayAvgChange}}</div>
      {{/if}}
    </div>
  </div>
</div>


{{#if habits.length}}
<ul class="list-unstyled habit-list">
  {{#each habits}}
    {{view Habitapp.HabitItemView content=this idx=this.contentIndex}}
  {{/each}}
</ul>
{{/if}}

{{input enter="addNewHabit" placeholder="Add a habit" value=newHabitValue class="new-habit-input"}}
