<div class="row">
  <div class="col-xs-10">
    <input type="text" tabindex="0" {{bind-attr value=view.displayTitle}} {{action saveHabitTitle target="view" on="change"}} />
  </div>
  <div class="pull-right">
    <label {{bind-attr for=checkboxId}} {{bind-attr class=":glyphicon :glyphicon-ok view.markedToday:marked"}}>
      <input class="hidden" type="checkbox" tabindex="-1" {{bind-attr id=checkboxId}} {{bind-attr checked=view.markedToday}} {{action toggleMark target="view" on="change"}}/>
    </label>
  </div>
</div>